<div>
  <%= flash[:notice] %>
</div>

<h2>User info</h2>
<%= image_tag @user.get_profile_image(100,100) %>
<table>
  <tbody>
    <tr></tr>
    <tr>
      <th>name</th>
      <th><%= @user.name %></th>
    </tr>
    <tr>
      <th>introduction</th>
      <th><%= @user.introduction %></th>
    </tr>
  </tbody>
</table>
<div>
    <p><%= link_to "プロフィール編集", edit_user_path(@user.id) %></p>
</div>

<h2>New book</h2>
  <%= form_with model: @book do |f| %>
  <h4>Tile</h4>
  <%= f.text_field :title %>

  <h4>Opinion</h4>
  <%= f.text_area :body %>
    <%= f.submit '投稿' %>
  <% end %>



<h2>Book detail</h2>
<table>
  <tbody>
    <tr>
      <td><%= @book.title %></td>
      <td><%= @book.body %></td>
      <td><%= link_to "Edit", edit_book_path(@book.id) %></td>
      <td><%= link_to "Destroy", book_path(@book.id), method: :delete, "data-confirm" => "本当に削除しますか？" %></td>
    </tr>
  </tbody>
</table>